{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
    <div class="container">
        <h1>{{ object.book.name }}</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="hidden" name="next" value="{{next}}">
            <button type="submit" class="btn btn-primary btn-lg btn-block" href="">Добавить в корзину</button>
        </form>
    </div>
{% endblock body %}