{% extends 'admin-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">


{% block head %}
{% endblock head %}

{% block title %}
Представление для {{ ref_action }}
{% endblock title %}



{% block body %}
<div class="container">
    {% block background_style %}
    {% endblock background_style %}
    <h2 align="center">Представление для {{ ref_action }}</h2>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form |crispy }}
        </div>
        </enctype>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
</div>
{% endblock body %}

</form>