{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block title %}
Удаление
{% endblock title %}

{% block body %}
    <h1 align="center">Удалить {{ ref_action }}?</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Удалить</button>
    </form>
{% endblock body %}