{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block title %}
Просмотр
{% endblock title %}



{% block body %}
    <h1 align="center">
        <p>Значение</p>
    </h1>
    <h3 align="center"><b>
            <p>{{ object }}</p>
        </b>
        <h3>
{% endblock body %}
</form>