{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

   {% block head %}
        {% block title %}
        {% endblock title %}
   {% endblock head %}
   
{% block body %}
    </style>
    <h2 align="center"><b>
            <p>Список {{ descr }}</p>
        </b></h2>
    <td><a href="{% url 'products_book:product-create' %}" class="btn btn-primary btn-lg btn-block">Добавить</a> </td>
    <p>
        <table class="table">
    </p>
    {% for object in object_list %}
    <tr>
        <td>{{ object }}</td>
        <td><a href="{% url 'products_book:product-detail' object.pk %}" class="btn btn-info">Посмотреть</a> </td>
        <td><a href="{% url 'products_book:product-update' object.pk %}" class="btn btn-info">Редактировать</a> </td>
        <td><a href="{% url 'products_book:product-delete' object.pk %}" class="btn btn-warning">Удалить</a> </td>

    </tr>
    {% endfor %}
    </table>
    <td><a href="{% url 'staff-page'%}" class="btn btn-primary btn-lg btn-block">Домой</a> </td>
    {% include "paginator.html" %}
{% endblock body %}
</form>