{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container">


<h1>Удалить заказ № {{  object.pk  }}</h1>

<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-block">Удалить?</button>
</form>
</div>
{% endblock body %}