{% extends 'admin-base.html'%}
{% load static %}
{% block title %}
             Отображение заказа № {{ object.pk }}
{%endblock title %}
{% block body %}
<div class="container">
<br>
    <div class="card-body">
            <h5 class="card-title">{{ object }}</h5>
            <p class="card-text">{{ object.cart }}</p>
            <p class="card-text">Статус заказа: {{ object.status }}</p>
            <a href="{% url 'orders:list-admin' %}" class="btn btn-primary">Назад к заказам</a>
    </div>
</div>
{% endblock body %} 
