{% extends 'admin-base.html'%}
{% load static %}
{% block body %}
<div class="container">
    <h6>Заказов всего: {{ total }} шт.</h6>
    <h1>Список заказов</h1>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Заказ</th>
            <th scope="col">Статус</th>
            <th scope="col">Клиент</th>
            <th scope="col">Телефон</th>
            <th scope="col">email</th>
            <th scope="col">..</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object }}</td>
                        <td>{{ object.status.name }}</td>
                        <td>{{ object.cart.user.username }}</td>
                        <td>{{ object.phone }}</td>
                        <td>{{ object.email }}</td>
                        <td>
                            <a href="{% url 'orders:delete' object.pk %}" class="btn btn-danger btn-small mx-1"><i class="fas fa-trash"></i>
                            <a href="{% url 'orders:detail' object.pk %}" class="btn btn-info btn-small mx-1"><i class="fas fa-clipboard-list"></i>
                            <a href="{% url 'orders:update' object.pk %}" class="btn btn-success btn-small mx-1"><i class="fas fa-edit"></i>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginator.html" %}
</div>
{% endblock %}