{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block title %}
Просмотр
{% endblock title %}



{% block body %}
    <div class="container">
        <h1>Результаты поиска:</h1>
        {% for result in results %}
            {{ result }} </br>
        {% endfor %}
{% endblock body %}
