{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block title %}
Поиск
{% endblock title %}



{% block body %}
    <div class="container">
        <form method = "GET" action = "{% url 'makesearch' %}">
            <input type = "text" name = "q">
            <button type = "submit">Поиск</button>
        </form>
{% endblock body %}
