{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Просмотр
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container">
<div class="card">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile'  %}">Профиль</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'profile-address' object %}">Адрес доставки<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <label>Адрес</label>
            {{form.customer | add_class:"list-group-item"}} 
            {{form.delivery_address | add_class:"list-group-item"}}
            </textarea>
          	<div>
        	    <br><button class="btn btn-success" type="submit">Обновить информацию</button>
        	</div>
        </form>
    

      <div class="tab-pane fade" id="profile">
    	<form id="tab2">
        	<label>Новый пароль</label>
        	<input type="password" class="list-group-item">
        	<div>
        	    <button class="btn btn-primary">Изменить пароль</button>
        	</div>
    	</form>
      </div>
  </div>
</div>
{% endblock body %}