<a class="nav-link"  href="{% url 'cart:list'%}">
<i class="fas fa-shopping-cart fa-2x"></i>
{% if products < 1 %}
<span class="badge badge-pill badge-danger">{{products}}</span>
{% else %}
<span class="badge badge-pill badge-primary">{{products}}</span>
{% endif %}
</a>