{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Административный портал
{% endblock title %}

{% block head %}
{% endblock head %}

{% block background_style %}
{% endblock background_style %}

{% block body %} 
   
    <h1 align="center">Главная страница административного портала</h1>

    
    <p>
        <form>
            <a href="{% url 'reference_author:author-list' %}" class="btn btn-primary btn-lg btn-block">Список авторов</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'reference_series:series-list' %}" class="btn btn-primary btn-lg btn-block">Список серий</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'reference_genre:genre-list' %}" class="btn btn-primary btn-lg btn-block">Список жанров</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'reference_publisher:publisher-list' %}" class="btn btn-primary btn-lg btn-block">Список
                издательств</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'reference_manufacturer:manufacturer-list' %}" class="btn btn-primary btn-lg btn-block">Список
                производителей</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'products_book:product-list' %}" class="btn btn-primary btn-lg btn-block">Список товаров</a>
        </form>
    </p>

    <p>
        <form>
            <a href="{% url 'orders:list-admin' %}" class="btn btn-primary btn-lg btn-block">Список заказов</a>
        </form>
    </p>
    {% block nav-item-adm %}
    <!-- <li class="nav-item {%  if active == 'staff-page' %} active {% endif %}">
            <a class="nav-link" href="{% url 'staff-page' %}">Административный портал</a>
    </li> -->
    {% endblock nav-item-adm %}
        
    
{% endblock body %}

</html>