{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Административный портал
{% endblock title %}

{% block head %}
{% endblock head %}

{% block background_style %}
{% endblock background_style %}

{% block body %} 
    <table class="table">
  <tbody>
    <tr>
      <td>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Статистика по товарам</div>
                    <div class="card-body">
                        <h5 class="card-title">Всего товаров в базе:</h5>
                        <h5 class="card-text">{{all_products}}</h5>
                        <h5 class="card-title">Товаров доступных для заказа:</h5>
                        <h5 class="card-text">{{active_products}}</h5>
                        <h5 class="card-title">Добавлено вчера:</h5>
                        <h5 class="card-text">{{added_yesterday}}</h5>
                        <h5 class="card-title">Добавлено за месяц:</h5>
                        <h5 class="card-text">{{added_per_month}}</h5>
                    </div>
                </div>
      </div>
      </td>
      <td>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Статистика по категориям</div>
                <div class="card-body">
                    <h5 class="card-title">Всего категорий в базе:</h5>
                    <h5 class="card-text">{{category}}</h5>
                    <h5 class="card-title">Всего товаров в категории {{category2_name}}:</h5>
                    <h5 class="card-text">{{category_books}}</h5>
                    <h5 class="card-title">Всего товаров в категории {{category1_name}}:</h5>
                    <h5 class="card-text">{{category_magazines}}</h5>
                </div>
            </div>
        </div>
      </td>
    </tr>
{% endblock body %}
</html>