{% extends 'admin-base.html' %}
{% load static %}
{% load disqus_tags %}
{% comment %} {% load tag %} {% endcomment %}


<!DOCTYPE html>
<html lang="en">

{% block title %}
Просмотр
{% endblock title %}

{% block head %}
{% endblock head %}

{% block background_style %}
{% endblock background_style %}

{% block body %}
    <h1 align="center">
        <p>Значение</p>
    </h1>
    <h3 align="center"><b>
            <p>{{ object }}</p>
        </b></h3>
{% comment %} {% comm_tag object %} {% endcomment %}
<div class="container">
    {% load disqus_tags %}
    {% disqus_show_comments %}
</div>
{% endblock body %}

