{% extends 'admin-base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}
    {% block title %}
        Список {{ descr }}
    {% endblock title %}

{% block background_style %}
{% endblock background_style %}

{% block body %}
    <h2 align="center"><b>
            <p>Список {{ descr }}</p>
        </b></h2>
    {% if perms.reference.can_add %}     
        <td><a href="{% url 'reference_genre:genre-create' %}" class="btn btn-primary btn-lg btn-block">Добавить</a> </td>
    {% endif %}
    <table class="table">
        {% for object in object_list %}
        <tr>
            <td>{{ object }}</td>
            {% if perms.reference.can_view %} 
                <td><a href="{% url 'reference_genre:genre-detail' object.pk %}" class="btn btn-info">Посмотреть</a> </td>
            {% endif %}

            {% if perms.reference.can_update %} 
            <td><a href="{% url 'reference_genre:genre-update' object.pk %}" class="btn btn-info">Редактировать</a></td>
            {% endif %}

            {% if perms.reference.can_delete %}
            <td><a href="{% url 'reference_genre:genre-delete' object.pk %}" class="btn btn-warning">Удалить</a> </td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>
    <td><a href="{% url 'staff-page'%}" class="btn btn-primary btn-lg btn-block">Домой</a> </td>
    {% include "paginator.html" %}
{% endblock body %}
</form>