{% load static %}

<h2>Комментарии:</h2>
{% for comment in page_comments %}

    {{ comment.author.username }}

{% endfor %}
<form action='' method="POST">
    {% csrf_token %}
    <input type = 'text' name = 'tag'>
    <input type = 'hidden' name = "ct_id" value = "{{ct.pk}}">
    <input type = 'hidden' name ="obj_id" value = "{{obj_id}}">
    <input type = 'submit' value = 'Добавить комментарий'>
</form>