{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block body %}
    <div class="content-area">
        <header class="page-header">
            <h1 class="page-title">Book Store - О магазине</h1>
        </header>
        <div class="tab-content">
            <div class="col-md-12">
                    <div class="f-color-grey-hover f-lh-base" itemscope="" itemtype="http://schema.org/Organization">
                        <span itemprop="name">ООО "Itacademy"</span><br>
                                            Свидетельство 25 12.2018<br>
                                            УНП 1111222333<br>
                                            Дата регистрации в Торговом реестре РБ: 25.12.2018<br>
                                            Контактные телефоны: (029) 111-22-33; (029) 777-33-22;<br>
                                            Адрес для почтовых отправлений: 222222273 г.Минск, <br>
                    </div>
            </div>
        </div>
    </div>
{% endblock body %}