{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
{% endblock head %}

{% block body %}
<header class="page-header"><h1 class="page-title">Доставка по Минску и Беларуси</h1></header>
<div style="margin-left: 40px;"><span style="color:#000000;">Вы можете выбрать удобный интервал доставки:</span><br></div>
<table border="0" cellpadding="0" cellspacing="0" style="width: auto; margin-left: 40px;">
        <tbody>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>8:00 - 12:00</samp></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>12:00 - 15:00</samp></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>13:00 - 16:00</samp></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>19:30 - 22:30</samp></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>20:00 - 23:00</samp></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td id="selection">
                <ul class="disc-style">
                    <li><samp>21:00 - 00:00</samp></li>
                </ul>
                </td>
            </tr>
        </tbody>
    </table>

<span style="color:#000000;"><br>
    <strong>Стоимость:&nbsp;</strong></span>
    <ul class="disc-style">
            <li class="newstx1t"><span style="color:#000000; ">Курьерская доставка <strong>по Минску</strong> бесплатно при заказе от 10 руб. При сумме менее 10 руб - 1 руб.</span></li>
            <li class="newstx1t"><span style="color:#000000; ">Доставка <strong>за МКАД</strong>&nbsp;бесплатно при заказе от 50 руб.&nbsp;При сумме менее 50 руб - 5 руб.</span></li>
    </ul>
{% endblock body %}