{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Просмотр
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container">
<div class="card">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'profile'  %}">Профиль <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile-address' object %}">Адрес доставки</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <label>Имя</label>
            {{form.first_name | add_class:"list-group-item"}}
            <label>Фамилия</label>
            {{form.last_name | add_class:"list-group-item"}}
            <label>Email</label>
            {{form.email | add_class:"list-group-item"}}
            </textarea>
          	<div>
        	    <br><button class="btn btn-success" type="submit">Обновить информацию</button>
        	</div>
        </form>
  </div>
</div>
{% endblock body %}