{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">



{% block head %}
{% endblock head %}

{% block body %} 
<div class='container'>
        <h1 align="center">Главная страница магазина</h1> 
        <div class="row form-group" >  
            {% for book in last_books %}
                <div class="col-md-4" >
                    <div class="card">
                        <div class="card-block">
                            <img class="card-img-top" style="width: 348px; height: 335px" src="{{ book.product_photo.url }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">Цена {{book.price}} BYN</p>
                            <a href="{% url 'cart:add' book.pk %}" class="btn btn-primary">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
        </div>
            {% endfor %}
</div>
    
{% endblock body %}
</html>