{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Удаление
{% endblock title %}

{% block head %}
{% endblock head %}

{% block background_style %}
{% endblock background_style %}

{% block body %}
    <h2 align="center">Смена пароля</h2>
    <div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Сменить пароль</button>
    </form>
    </div>
{% endblock body %}