{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Смена пароля
{% endblock title %}

{% block head %}
{% endblock head %}

{% block background_style %}
{% endblock background_style %}

{% block body %}
    <div class="container">
        <h1>Ваш пароль был изменен</h1>
        <h4>Удачных покупок</h4>
    </div>
{% endblock body %}