{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
<h1>Ваш пароль восстановлен</h1>
<p>Ваш пароль был изменен. Теперь вы можете войти под новым паролем. <a href="{% url 'login' %}">Вход</a>.</p>
{% endblock %}