{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
<div class="container">
    <h1>Изменение пароля</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сменить пароль">
    </form>
</div>
{% endblock %}