{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
  <h1>Забыли пароль?</h1>
  <p>Введите свой email для получения дальнейших инструкций.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>
</div>
{% endblock %}