{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
  <h1>Проверьте свой почтовый ящик.</h1>
  <p>Мы выслали вам инструкции по восстановлению пароля.</p>
{% endblock %}