{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    {% block head %}
    {% endblock head %} 
</head>
   

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">{{ logo }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item {%  if active == 'nav-link' %} active {% endif %}">
                    <a class="nav-link" href="/">Каталог</a>
                </li>
                <li class="nav-item {%  if active == 'about-store' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'about-store' %}">О магазине</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                </li>
                <li class="nav-item {%  if active == 'delivery-store' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'delivery-store' %}">Доставка</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Оплата</a>
                </li>
                {% if request.user.is_staff%}
                <li class="nav-item {%  if active == 'staff-page' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'staff-page' %}">Административный портал</a>
                </li>
                {% endif %}
                <li>
                <form class="form-inline my-2 my-lg-0" method = "GET" action = "{% url 'makesearch' %}">
                <input class="form-control mr-sm-2" type="search" name = "q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                   {% top_cart_icon %}
                   {% include './user_menu_dropdown.html' %}
                </form>
                </li>
            </div> 
    </nav>
        {% block body %} 
        {% endblock body %}
</body>

</html>