{% if is_paginated %}
    <nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}
    {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
    </ul>
    </nav>
    {% endif %}