<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user.is_authenticated %}
      {{ user}}
    {% else %}
    Гость
    {% endif %}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    {% if user.is_authenticated %}
      <a class="dropdown-item" href="profile/">Кабинет</a>
      <a class="dropdown-item" href="/accounts/logout/">Выйти</a>
    {% else %}
      <a class="dropdown-item" href="/accounts/login/">Войти</a>
    {% endif %}
  </div>
</div>